# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Kakao Map API
NEXT_PUBLIC_KAKAO_REST_API_KEY=fb649cbf91b24f21ad0d825caecad47a
NEXT_PUBLIC_KAKAO_JAVASCRIPT_KEY=6f4a0b013fa4cd9542bb6af9232b9516